<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      YouTube API Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button (click)="get()" expand="block" fill="clear" shape="round">
    Get List
  </ion-button>


  <ng-container *ngIf="(response$ | async) as response">
    <ion-card *ngFor="let item of response.items">
      <ion-row>
        <ion-col size="4">
          <!-- <ion-img [src]="image"></ion-img> -->
          <ion-img [src]="item.snippet.thumbnails.default.url" width="60px" height="45px"></ion-img>
        </ion-col>
        <ion-col size="8">
          <ion-label>{{ item.snippet.title }}</ion-label>

        </ion-col>
      </ion-row>
    </ion-card>
  </ng-container>


</ion-content>