// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #1a6bac;
	--ion-color-primary-rgb: 26, 107, 172;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #175e97;
	--ion-color-primary-tint: #317ab4;

	--ion-color-secondary: #46acff;
	--ion-color-secondary-rgb: 70, 172, 255;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0, 0, 0;
	--ion-color-secondary-shade: #3e97e0;
	--ion-color-secondary-tint: #59b4ff;

	--ion-color-tertiary: #c4c4c4;
	--ion-color-tertiary-rgb: 196, 196, 196;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0, 0, 0;
	--ion-color-tertiary-shade: #acacac;
	--ion-color-tertiary-tint: #cacaca;

	--ion-color-success: #06a863;
	--ion-color-success-rgb: 6, 168, 99;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #059457;
	--ion-color-success-tint: #1fb173;

	--ion-color-warning: #ffce00;
	--ion-color-warning-rgb: 255, 206, 0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #e0b500;
	--ion-color-warning-tint: #ffd31a;

	--ion-color-danger: #f04141;
	--ion-color-danger-rgb: 240, 65, 65;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #d33939;
	--ion-color-danger-tint: #f25454;

	--ion-color-dark: #4d5057;
	--ion-color-dark-rgb: 77, 80, 87;
	--ion-color-dark-contrast: #e9e9e9;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #44464d;
	--ion-color-dark-tint: #5f6268;

	--ion-color-medium: #989aa2;
	--ion-color-medium-rgb: 152, 154, 162;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #86888f;
	--ion-color-medium-tint: #a2a4ab;

	--ion-color-light: #f4f5f8;
	--ion-color-light-rgb: 244, 245, 248;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #d7d8da;
	--ion-color-light-tint: #f5f6f9;
}
