.qrclass canvas {
	width: 50% !important;
	height: auto !important;
}
.likebutton {
	border-top: 2px solid var(--ion-color-primary) !important;
	border-bottom: 2px solid var(--ion-color-primary) !important;
}
.formName {
	font-weight: bold !important;
	color: var(--ion-color-secondary) !important;
}
