<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Printer Manager
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card #start *ngIf="!printer">
    <ion-card-header>
      <ion-card-subtitle>
          Para comenzar seleccione una impresora
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content text-center>
      <ion-button (click)="getList()">
        <ion-icon slot="start" name="print"></ion-icon>
        Seleccionar
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card #printerData *ngIf="printer">
    <ion-card-header>
      <ion-item lines="none">
        <ion-icon name="print" slot="start"></ion-icon>
        <ion-label>
          {{ printer?.name}}
        </ion-label>
        <ion-icon slot="end" name="power" (click)="disconnect()"></ion-icon>
      </ion-item>
    </ion-card-header>
    <ion-card-content text-center>
      <ion-item lines="none" class="searchbox">
        <ion-label position="floating">Texto de prueba</ion-label>
        <ion-input type="text" [(ngModel)]="textToPrint"></ion-input>
      </ion-item>
      <br>
      <ion-button fill="outline" expand="full" (click)="test('text')" [disabled]="!printer">
        Imprimir Texto
      </ion-button>
      <ion-button fill="outline" expand="full" (click)="test('barcode')" [disabled]="!printer">
        Imprimir Codigo de Barras
      </ion-button>
      <ion-button fill="outline" expand="full" (click)="test('qr')" [disabled]="!printer">
        Imprimir Codigo QR
      </ion-button>
      <ion-button fill="outline" expand="full" (click)="test('image')" [disabled]="!printer">
        Imprimir Imagen
      </ion-button>
      <br><br>
      
      <ion-button *ngIf="!formToPrint" (click)="getFormulario()" fill="outline" expand="full" >
        Imprimir Formulario
      </ion-button>
      <ion-grid fixed *ngIf="formToPrint" class="likebutton">
        <ion-row>
          <ion-col size="12">
            <ion-item lines="none">
              <ion-label>
                <p>Formulario</p>
                <p class="formName">{{ formToPrint.Nombre }} ({{ formToPrint.Version }})</p>
              </ion-label>
              <ion-icon name="trash" slot="end" (click)="formToPrint =null"></ion-icon>
            </ion-item>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="testTicketList(false)" expand="full">
              Imprimir sin QR
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <ion-button (click)="testTicketList(true)"  expand="full">
              Imprimir con QR
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ngx-qrcode qrc-element-type="canvas" [qrc-value]="qrToPrint" [hidden]="true" qrc-class="qrclass"></ngx-qrcode>

</ion-content>
